body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    padding: 2rem;
    background-color: rgb(237, 237, 237);
}

header {
    text-align: center;
    background-color: #028a00;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.container {
    width: 70%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-left: 8px solid #028a00;
    border-right: 8px solid #028a00;
    border-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem 0 1.5rem 0;
    gap: 1.5rem;
    flex-wrap: wrap;
}
 
nav a {
    text-decoration: none;
    color: #028a00;
    font-weight: bold;
    font-size: 1.3rem;
}
 
nav a:hover {
    color: #41b83f;
    text-decoration: underline;
}
 
.header-navigation {
    top: 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
}